div.row {
  display: -webkit-box;
}

div#boardHead {
  width: 100%;
  display: inline-flex;
  height: auto;
  font-size: 2vw;
}

div#reset {
  width: 4vw;
}

body {
  margin: 0 0 0 0;
}

img {
  width: 100%;
  display: block;
}

div.buttonIcon {
  width: 100%;
  height: 100%;
}

div#mode {
  width: 8vw;
}
